<div class = "constrainer2">
    <div class= "previous-guest-search">
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th width = "189px">NAME</th>
                        <th width = "123px">PHONE NUMBER</th>
                        <th width = "326px">EMAIL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td width = "189px"><%=newGuest[0].first_name%> <%=newGuest[0].last_name%></td>
                    <td width = "123px"><%=newGuest[0].guest_phone%></td>
                    <td width = "326px"><%=newGuest[0].guest_email%></td>
                    <td>
                        <form action="/reservation/new/createguest" method ="POST">
                        <div class="field is-horizontal">
                            <div class="field-body">
                            <div class="field has-addons">
                                <div class="control">
                                    <input id="select_guest" class="button" type ="submit" value ="SELECT GUEST">
                                </div>
                            </div>
                            </div>
                        </div>
                        </form>
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>