<!-- FILE NOT IN USE // res.render will not reload, therefore this partial cannot currently be used, as previous guest search is already utilizing res.render -->

<div class = "constrainer2">
<div class= "previous-guest-search">
        <table class="table is-fullwidth">
            <thead>
                <tr>
                    <th width = "189px">NAME</th>
                    <th width = "123px">PHONE NUMBER</th>
                    <th width = "326px">EMAIL</th>
                </tr>
            </thead>
            <tbody>

            <%for (var i = 0; i < Guest.length; i++){%>
        
                <tr>
                <td width = "189px"><%=Guest[i].first_name%> <%=Guest[i].last_name%></td>
                <td width = "123px"><%=Guest[i].guest_phone%></td>
                <td width = "326px"><%=Guest[i].guest_email%></td>
                <td>
                    <form action="/api/select-guest" method ="POST">
                    <div class="field is-horizontal">
                        <div class="field-body">
                        <div class="field has-addons">
                            <div class="control">
                                <input id="select-guest" class="button" type ="submit" value ="SELECT GUEST">
                            </div>
                        </div>
                        </div>
                    </div>
                    </form>
                </td>
                </tr>

            <%}%>
            </tbody>
        </table>
    </div>
    </div>
