<table class="table is-fullwidth">
                <thead>
                  <tr>
                    <th>FIRST NAME</th>
                    <th>LAST NAME</th>
                    <th>PHONE #</th>
                    <th>EMAIL</th>

                   
                  </tr>
                </thead>
                <tbody>
              
                <tr>
                <td><%=searchguest[0].first_name%></td>
                <td><%=searchguest[0].last_name%></td>
                <td><%=searchguest[0].guest_phone%></td>
                <td><%=searchguest[0].guest_email%></td>
                
                </tr>
                </tbody>
                </table>
                