<% include partials/header %>

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-inline">
                T | F HOTELS
            </h1>
            <span class="is-pulled-right title">CURRENT MOMENTJS TIME GOES HERE</span>
        </div>
    </div>
</section>

<div class="columns has-text-centered ">
    <div class="column">
        <section class="section">
            <h1 class="title">GUESTS</h1>
            <br>
            <h1 class="title is-inline ">
                <strong id="currentGuests" class = "hoverit" data-target ="partialCurrent">CURRENT</strong>
                |
                <strong id="searchAllGuests" class = "hoverit" data-target ="partialAllGuests">SEARCH ALL</strong>
            </h1>
        </section>
        <section class="section">
            <h1 class="title">SEARCH BY:</h1>

            <!--GUEST FORM-->
            <form action = "/api/searchGuest" method = "POST">
            <div class="field is-horizontal">
                <div class="field-body">

                    <div class="field has-addons">

                        <div class="control is-expanded">
                            <input id = "guestsearch" class="input" type="text" name="first_name" placeholder="First Name">
                        </div>
                    
                    <div class = "control">
                        <input id = "guestsearch" class = "button" type = "submit" value = "SEARCH">
                    </div>

                    </div>
                    </div>
            </div>
            </form>
            <form action = "/api/searchGuest" method = "POST">
            <div class="field is-horizontal">
            <div class="field-body">
                    <div class="field has-addons">

                        <div class="control is-expanded">
                            <input id = "guestsearch" class="input" type="text" name="last_name" placeholder="Last Name">
                        </div>

                        <div class = "control">
                            <input id = "guestsearch" class = "button" type = "submit" value = "SEARCH">
                        </div>

                    </div>

                </div>
            </div>
            </form>
            <form action = "/api/searchGuest" method = "POST">
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input class="input" type="text" name="guest_phone" placeholder="Phone #">
                        </div>
                        <div class = "control">
                            <input class = "button" type = "submit" value = "SEARCH">
                        </div>
                    </div>
                    </div>
                    </div>
                    </form>
                    <form action = "/api/searchGuest" method = "POST">
                    <div class="field is-horizontal">
                    <div class="field-body">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input class="input" type="text" name="guest_email" placeholder="Email">
                        </div>
                        <div class = "control">
                        <input class = "button" type = "submit" value = "SEARCH">
                        </div>
                    </div>
                </div>
                </div>
            </form>
            
            
            
                <div class = "guestContent">
                <!--GUEST TABLE GOES HERE-->
                
                <% include partialCurrent %>


                </div>
                
              
        </section>
        <a href = "/reservation/new"class="button is-large is-fullwidth">NEW RESERVATION</a>
        
    </div>

    <div class="column">
        <section class="section ">
            <h1 class="title">RESERVATIONS</h1>
        </section>
        <section>

        <h1 class="title">SEARCH BY:</h1>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" type="text" name="first_name" placeholder="Reservation Number">
                    </p>
                </div>
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" type="text" name="last_name" placeholder="Date In">
                    </p>
                </div>
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" type="text" name="last_name" placeholder="Date Out">
                    </p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" type="text" name="guest_phone" placeholder="Last Name">
                    </p>
                </div>
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" type="text" name="guest_email" placeholder="First Name">
                    </p>
                </div>
                <div class="select">
                  <select>
                    <option>Canceled</option>
                    <option>Yes</option>
                    <option>No</option>
                  </select>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded">
                    <input class="input" type="text" name="guest_phone" placeholder="Email">
                </p>
            </div>
            <div class="field">
                <p class="control is-expanded">
                    <input class="input" type="text" name="guest_email" placeholder="Phone Number">
                </p>
            </div>
        </div>
    </div>
        <div class="field ">
            <div class="control has-text-centered">
                <button class="button is-link">Submit</button>
            </div>
        </div>
        <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>RES #</th>
            <th>NAME</th>
            <th>DATE IN</th>
            <th>DATE OUT</th>
            <th>ROOM #</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <tr>
        <td>8575</td>
        <td>Camille Highes</td>
        <td>01/01/2019</td>
        <td>01/08/2019</td>
        <td>101</td>
        <td>CHECK IN</td>
        <td>X</td>
        </tr>
        </tbody>
        </table>
        <section class="section">
            <h1 class="title is-inline"><strong class = "hoverit" id="reservationArrivals">ARRIVALS: 12 </strong> | <strong
                    id="reservationDepartures" class = "hoverit">DEPARTURES: 35</strong></h1>


                    <!--TABLE FOR ARRIVALS AND DEPARTURES -->
                    <div class = "reservationContent">

                    <% include arrivals %>
                    
                   </div>
        </section>

        </section>
    </div>

    <div class="column ">
        <section class="section ">
            <h1 class="title">ROOMS</h1>
            <br>
            <h1 class="title is-inline "><strong id="roomsOcupied" class = "hoverit">OCCUPIED: 210 </strong> | <strong
                    id="roomsAvailable" class = "hoverit">AVAILABLE: 90</strong></h1>
        </section>
        <h1 class="title">SEARCH BY:</h1>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" type="text" name="first_name" placeholder="Room #">
                    </p>
                </div>
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" type="text" name="last_name" placeholder="PRICE/NIGHT">
                    </p>
                </div>
                
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" type="text" name="first_name" placeholder="BED TYPE">
                    </p>
                </div>
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" type="text" name="last_name" placeholder="# OF BEDS">
                    </p>
                </div>
                <div class="field">
                    <p class="control is-expanded">
                        <input class="input" type="text" name="last_name" placeholder="MAX OCCUPANCY">
                    </p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="select">
                  <select>
                    <option>ADJOINING</option>
                    <option>Yes</option>
                    <option>No</option>
                  </select>
                </div>
                <div class="select">
                  <select>
                    <option>JACUZZI</option>
                    <option>Yes</option>
                    <option>No</option>
                  </select>
                </div>
                <div class="select">
                  <select>
                    <option>BALCONY</option>
                    <option>Yes</option>
                    <option>No</option>
                  </select>
                </div>
                <div class="select">
                  <select>
                    <option>SMOKE</option>
                    <option>Yes</option>
                    <option>No</option>
                  </select>
                  
                </div>
            </div>
            <div class="field ">
            <div class="control has-text-centered">
                <button class="button is-link">Submit</button>
            </div>
        </div>
            
        </div>
        <div class = "roomscontainer">

        <!--ROOMS TABLE GOES HERE-->

        <% include available %>

                </div>
    </div>
    
</div>

<% include partials/footer %>