<% include partials/header %>

<section class="hero">

    <div class="hero-body ">
        
        <img src="/img/TFHotels_Logo.png" alt = "T | F HOTELS" width = "450px" >
            <span class="is-pulled-right title dateandtime"><span id = "date"></span><span id = "time"></span></span>
       

    </div>
</section>

<div class="columns has-text-centered">
    <div class="column">
        <section class="section header">
            <h1 class="title is-1 headertitle is-size-3-mobile">GUESTS</h1>
            <br>
            <h1 class="subtitle is-3 is-inline headersubtitle">
                <span id="currentGuests" class = "hoverit " data-target ="current-guests">CURRENT</span>
                |
                <span id="searchAllGuests" class = "hoverit " data-target ="all-guests">SEARCH ALL</span>
            </h1>
        </section>

        

            <h1 class="title">SEARCH BY:</h1>
            <!--GUEST FORM-->
            <form>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                <input id="guestfirstname" class="input" type="text" name="first_name" placeholder="First Name">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control is-expanded">
                                <input id="guestlastname" class="input" type="text" name="last_name" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                <input id="guestphone" class="input" type="text" name="guest_phone" placeholder="Phone #">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control is-expanded">
                                <input id="guestemail" class="input" type="text" name="guest_email" placeholder="Email">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field ">
                    <div class = "control">
                        <input class = "button guestsearch is-fullwidth" type = "submit" value = "SEARCH" >
                    </div>
                </div>
            </form>
           
            <section class = "section">

         

            
                <div class = "guestContent">
                    <!--GUEST TABLE GOES HERE-->
                    <% include partials/current-guests %>
                </div>

                
             
        </section>

        <a href = "/reservation/new"class="button is-large is-fullwidth newreservation">CREATE NEW RESERVATION</a>
        
    </div>

        <div class="column">
        <section class="section header">
            <h1 class="title headertitle is-1 is-size-4-mobile">RESERVATIONS</h1>
        </section>

        


        <section>
            <h1 class="title">SEARCH BY:</h1>
    <!--START-->
            <form>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded">
                                <input id = "reservnumber" class="input" type="text" name="id" placeholder="Reservation #">
                            </p>
                        </div>
                        <div class="field">
                            <p class="control is-expanded">
                                <input id = "reservdatein" class="input" type="text" name="date_in" placeholder="Date In (YYYY-MM-DD)">
                            </p>
                        </div>
                        <div class="field">
                            <p class="control is-expanded">
                                <input id = "reservdateout" class="input" type="text" name="date_out" placeholder="Date Out (YYYY-MM-DD)">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field ">
                    <div class = "control">
                        <input class = "button reservbyreserv is-fullwidth" type = "submit" value = "SEARCH" >
                    </div>
                </div>
            </form>
    <!--END-->
    <hr>
    <!--START-->
            <form>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <div class="control is-expanded">
                                <input id = "reservfirstname" class="input" type="text" name="first_name" placeholder="First Name">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control is-expanded">
                                <input id= "reservlastname" class="input" type="text" name="last_name" placeholder="Last Name">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded">
                                <input id = "reservationphone" class="input" type="text" name="guest_phone" placeholder="Phone Number">
                            </p>
                        </div>
                        <div class="field">
                            <p class="control is-expanded">
                                <input id = "reservationemail" class="input" type="text" name="guest_email" placeholder="Email">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="field ">
                    <div class = "control ">
                        <input class = "button reservbyguest is-fullwidth" type = "submit" value = "SEARCH" >
                    </div>
                </div>
            </form>
    <!--END-->
    <hr>
    <!--START-->

    <form>
    <div class="field is-horizontal">
    <div class="field-body">   

    <div class="field">
    <p class="control is-expanded">
        <input id = "cancelreservnumber" class="input" type="text" name="id" placeholder="Reservation #">
    </p>
    </div>

    <div class = "field">
        <div class="select">
            <select id = "reservationiscanceled" name = "canceled">
                    <option>Canceled</option>
                    <option value = "1" >Yes</option>
                    <option value = "0">No</option>
            </select>
        </div>
        </div>

        <div class="field ">
            <div class = "control">
                 <input class = "button cancelreserv" type = "submit" value = "SEARCH" >
            </div>
        </div>

        </div>
        </div>
    </form>
    
    <section class = "section">

        <!--RESERVATION's TABLE GOES HERE-->
        
        <div id = "reservationtable" >

        <table class="table is-fullwidth is-striped is-narrow is-hoverable">
        <thead>
          <tr>
            <th>RES #</th>
            <th>NAME</th>
            <th>DATE IN</th>
            <th>DATE OUT</th>
            <th>ROOM #</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody class = "reservtablebody">


        <!--<tr>
        <td>8575</td>
        <td>Camille Highes</td>
        <td>01/01/2019</td>
        <td>01/08/2019</td>
        <td>101</td>
        <td>
            <form action = "/api/updateRes" method = "POST">

                <div class="field is-horizontal">
                    <div class="field-body">   
                        <div class="field">
                            <p class="control is-expanded">
                                <input id = "cancelreservnumber" class="input" type="text" name="id" placeholder="Reservation #">
                            </p>
                        </div>
                        <div class = "field">
                            <div class="select">
                                <select id = "reservationiscanceled" name = "canceled">
                                        <option>Canceled</option>
                                        <option value = "1" >Yes</option>
                                        <option value = "0">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="field ">
                            <div class = "control">
                                <input class = "button cancelreserv" type = "submit" value = "SEARCH" >
                            </div>
                        </div>
                    </div>
                 </div>
            </form>

        </td>
        </tr>-->



        </tbody>
        </table>
        </div>
        
        </section>



            <!--RESERVATION's TABLE GOES HERE-->
            <div id = "reservationtable">
                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>RES #</th>
                            <th>NAME</th>
                            <th>DATE IN</th>
                            <th>DATE OUT</th>
                            <th>ROOM #</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class = "reservtablebody">
                    </tbody>
                </table>
            </div>


        <section class="section header">
            <h1 class="subtitle is-3 is-inline headersubtitle"><span class = "hoverit" id="reservationArrivals">ARRIVALS</span> | <span
                    id="reservationDepartures" class = "hoverit">DEPARTURES</span></h1>

        </section>
      

                    <!--TABLE FOR ARRIVALS AND DEPARTURES -->
                    <div class = "reservationContent">

                    <% include partials/arrivals %>
                    
                   </div>
        


        
    </div>

<!--SEARCH ROOMS-->

    <div class="column ">
        <section class="section header">
            <h1 class="title is-1 is-size-3-mobile headertitle">ROOMS</h1>
            <br>

            <h1 class="subtitle is-3 is-inline headersubtitle "><span id="roomsOcupied" class = "hoverit">OCCUPIED</span> | <span
                    id="roomsAvailable" class = "hoverit">AVAILABLE</span></h1>
        </section>

        

        <h1 class="title">SEARCH BY:</h1>


        <h1 class="title">SEARCH BY:</h1>
        <form>
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded">
                            <input class="input" type="text" id = "roomID" name="id" placeholder="Room #">
                        </p>
                    </div>
                    <div class="field-label is-normal">
                        <label class="label">Price</label>
                    </div>
                    <div class="field">
                        <p class="control is-expanded">
                            <div class="select">
                                <select id = "minprice" name = "min_price">
                                    <option value = "">Min-price</option>
                                    <option value = "99">99</option>
                                    <option value = "199">199</option>
                                    <option value = "299">299</option>
                                    <option value = "399">399</option>
                                    <option value = "499">499</option>
                                </select>
                            </div>
                            <div class="select">
                                <select id = "maxprice" name = "max_price">
                                    <option value = "">Max-price</option>
                                    <option value = "99">99</option>
                                    <option value = "199">199</option>
                                    <option value = "299">299</option>
                                    <option value = "399">399</option>
                                    <option value = "499">499</option>
                                </select>
                            </div>
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field">
                        <p class="control is-expanded">
                            <input class="input" type="text" id = "bedtype" name="bed_type" placeholder="BED TYPE">
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded">
                            <input class="input" type="text" id = "numberofbeds" name="number_of_beds" placeholder="# OF BEDS">
                        </p>
                    </div>
                    <div class="field">
                        <p class="control is-expanded">
                            <input class="input" type="text" id = "maxoccupancy" name="max_occupancy" placeholder="MAX OCCUPANCY">
                        </p>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field ">
                        <div class="select" >
                            <select id = "adjoining" name = "adjoining">
                                <option value = "">ADJOINING</option>
                                <option value = "1">Yes</option>
                                <option value = "0">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="field ">
                        <div class="select">
                            <select id = "jacuzzi" name = "jacuzzi">
                                <option value = "">JACUZZI</option>
                                <option value = "1">Yes</option>
                                <option value = "0">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="field ">
                        <div class="select">
                            <select id = "balcony" name = "balcony">
                                <option value = "">BALCONY</option>
                                <option value = "1">Yes</option>
                                <option value = "0">No</option>
                            </select>
                        </div>
                    </div>
                    <div class="field ">
                        <div class="select">
                            <select id = "smoke" name = "smoke">
                                <option value = "">SMOKE</option>
                                <option value = "1">Yes</option>
                                <option value = "0">No</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field ">
                <div class = "control">
                    <input class = "button roomsearch is-fullwidth" type = "submit" value = "SEARCH" >
                </div>
            </div>
        </form>
       
        <section class = "section">

        <div class = "roomscontainer">

        

        <!--ROOMS TABLE GOES HERE-->
        

        <% include partials/available %>

                
                </div>
                </section>

    </div>
</div>


<% include partials/footer %>