body {
    padding: 50px;
}
.hoverit:hover {
    color : plum;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    bottom: 40px;
    right: 40px;
  
}

.update-res,
.cancel-res {
    margin-bottom: 10px;
}


      

